[alias]
  up = pull
  p = push
  cp = cherry-pick
  st = status
  cl = clone
  co = checkout

  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard

  sl = stash list
  sa = stash apply
  ss = stash save

  br = branch
  branch = branch -ra
  bra = branch -ra

  f = "!git ls-files | grep -i"

  ci = commit
  cm = commit -m
  cma = commit -a -m
  ca = commit --amend
  amend = commit --amend

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"s
  df = diff --color --color-words --abbrev
  dc = diff --cached
  diff = diff --word-diff

  lg = log --color --graph --pretty=format:"%Cred%h%Creset\\ -%C(yellow)%d%Creset\\ %s\\ %Cgreen(%cr)\\ %C(bold\\ blue)<%an>%Creset" --abbrev-commit --
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lc  = "!f() { git ll "$1"^.."$1"; }; f"
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = red reverse
  local = blue
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green
  plain = white

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

[help]
  autocorrect = 1

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current

[pull]
  default = current
[user]
	email = joel.matelli@tellijo.fr
	name = Joël Matelli
